@media print{
    *{
        overflow: visible !important;
    }
    .guide-detail-card-print{
        position: absolute !important;
        left: 0 !important;
        display: block !important;
        width: 100% !important;
        border: none !important;
        border-top: 1px solid black !important;
        background: none !important;
        overflow: visible !important;
        min-height: 100% !important;
    }

    .guide-detail-card-print{
        margin-top: 3.5em;

    }

    .guide-detail-card-print div {
        line-height: 1.5 !important;
        font-size: 1.25em !important;
    }

    .guide-detail-text::before{
        content: "\25A1" !important;
        padding-right: 10px;
    }

    .header, .sidebar, .guide-bottom-row, .guide-grid-card, .guide-detail-card, .header-action-btn, .print-hidden{
        display: none !important;
    }

    .guide-main{
        border: none !important;
        background: none !important;
    }

    .guide-title{
        text-shadow: none !important;
        color: black !important;
        font-size: 30px !important;
    }

    body{
        background: none !important;
    }

}
